{% load url from future %}
<!DOCTYPE html>

<html>
<head>
	<title>{% block title %}University of North Carolina at Chapel Hill Athletics{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid">
		<a href={% url 'sports_home' %}><img src="{{STATIC_URL}}img/unclogo.png" style="margin-left: 8%;"/></a>
	<div class="row-fluid">
		<div class="span2 well">
			<ul class="nav nav-list">
				<li class="nav-header">Men's Sports</li>
					<li><a href="#">Baseball</a></li>
			    	<li><a href="/team/1">Basketball</a></li>
			    	<li><a href="#">Cross Country</a></li>
			    	<li><a href="#">Fencing</a></li>
			    	<li><a href="#">Football</a></li>
			    	<li><a href="#">Golf</a></li>
			    	<li><a href="#">Lacrosse</a></li>
			    	<li><a href="#">Soccer</a></li>
			    	<li><a href="#">Swimming & Diving</a></li>
			    	<li><a href="#">Tennis</a></li>
			    	<li><a href="#">Track & Field</a></li>
			    	<li><a href="#">Wrestling</a></li>
				<li class="nav-header">Women's Sports</li>
					<li><a href="#">Basketball</a></li>
			    	<li><a href="#">Cross Country</a></li>
			    	<li><a href="#">Fencing</a></li>
			    	<li><a href="#">Field Hockey</a></li>
			    	<li><a href="#">Golf</a></li>
			    	<li><a href="#">Gymnastics</a></li>
			    	<li><a href="#">Lacrosse</a></li>
			    	<li><a href="#">Rowing</a></li>
			    	<li><a href="#">Soccer</a></li>
			    	<li><a href="#">Softball</a></li>
			    	<li><a href="#">Swimming & Diving</a></li>
			    	<li><a href="#">Tennis</a></li>
			    	<li><a href="#">Track & Field</a></li>
			    	<li><a href="#">Volleyball</a></li>
			</ul>
		</div>
		<div class="span8 mens-bball well">
			{% block content %}{% endblock %}
		</div>
		<div class="span2 well">
			{% block side %}{% endblock %}
			<br><br><hr />
			<h5>Find us online!</h5>
			<img src="{{STATIC_URL}}img/facebook.png" />
			<a href="https://twitter.com/GoHeels" target="_blank"><img src="{{STATIC_URL}}img/twitter.png" /></a>
			<img src="{{STATIC_URL}}img/google+.png" />
			<img src="{{STATIC_URL}}img/youtube.png" />
			<img src="{{STATIC_URL}}img/flickr.png" />
			<img src="{{STATIC_URL}}img/rss.png" />
		</div>
	</div>
	<div class="row-fluid">
		<div id="footer" class="span12 mens-bball well well-small">
			<span class="text-left">&copy; Matt Hayes 2013</span>
			<span class="pull-right">#goheelsgoamerica</span>
		</div>
	</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>


</body>
</html>